extends baseNavbar.pug
block append head
    link(rel="stylesheet", href="/css/postPage.css")
    script(src='/js/postPage.js')
block content
    div(class="content-container")
        div(class="post-container")
            div(class="post-header")
                img(src=user.photo, alt="")
                a(href=`/user/${user.id}`) #{user.username}
            div(class="photo-container")
                img(src=`${post.photo}`, alt="")
            div(class="text-container")
                h6 #{post.text}
                if currentUser.id == post.userId
                    a(onclick="deletePost()") Delete
            div(class="post-footer")
                h6 #{new Date(post.date).toISOString().slice(0,10)}
            div(class="post-comments-container")
                each comment in comments
                    div(class="comment")
                        a(href=`/user/${comment.user.id}`) #{comment.user.username}
                        h6 #{comment.text}
            form(method="post" action="/api/comments" enctype="multipart/form-data" accept-charset="utf-8")
                input(type="hidden" id="currentUserIdInput" value=currentUser.id)
                div(class="input-group mb-3")
                    input(type="text" class="form-control" id="commentInput" placeholder="Comment...")
                    div(class="input-group-append")
                        button(class="btn btn-outline-secondary" onclick="addComment()" type="button" id="button-add-comment") Add
